html{
    box-sizing: border-box;
    
}
*, *::before, *::after{
    box-sizing: inherit;
}
main{
    background-color: burlywood;
}
.news-header{
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 20px solid black;
    max-width: 100%;
}
.logo-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.title-header{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50%;
    font-family: fantasy;
    font-style: normal;
    font-size: 30px;    

}
.news-main{
    max-width: 70%;
    height: 75vh;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.news-footer{
    margin: 0 auto;
    max-width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: 20px solid black;
}
.navigation{
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    font-family: fantasy;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    margin: 20px;
    margin-left: 400px;
}
.navigationpage{
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  font-family: fantasy;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
  margin: 15px;
  color: black;
}
.astyle{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: fantasy;
    font-weight: 200;
    font-style: normal;
    font-size: 30px; 
}                           
.astyle:hover
{
  color: rgb(231, 227, 227)
}
.news-navigation{
    margin-right: 300px;
}
a{
    text-decoration: none;
}
.titlestyle
{
  font-size: 15px;
}
.idatestyle
{
  padding: 3px 3px;
  font-size: 13px;
  font-weight:100;
  background-color: rgb(26, 26, 26); 
  color: rgb(231, 227, 227)
}
.page-title
{
  text-transform: uppercase;
  font-family: fantasy;
  font-style: normal;
  font-size: 30px;
  margin-left: 60px;
  margin-top: -150px;
}
.news-content{
  margin-top: -300px;
  margin-left: 10px;
  text-transform: uppercase;
  font-family: fantasy;
  font-style: normal;
  font-size: 15px;
}
.announce-style{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: fantasy;
  font-style: bold;
  font-size: 15px;
}
.announce-style:hover{
  color: rgb(231, 227, 227);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
